lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project

pids
logs
results

npm-debug.log
node_modules

mobile/.cordova/
mobile/hooks/
mobile/plugins/
mobile/platforms/

wwww/debugdata.json
wwww/phonegap-desktop.js
