//parking jade
.pages.navbar-fixed
	.page.navbar-fixed(data-page="home")

		.navbar
			.navbar-inner
				.left
					a.link.icon-only.open-panel(href="#")
						i.icon.icon-bars
				
				.center Panel de control

		// Page content
		.page-content
			.content-block-title
				.row
					.col-50 Hola  
						b.user-name
					.col-50.text-right
						a(href="parked.html", data-view=".view-main")
							b.parking-indicator

			.content-block
				p
					a(href="parking.html", data-view=".view-main").button.button-big.button-fill.button-raised.color-green
						| Iniciar estacionamiento
				p
					a(href="map.html", data-view=".view-main").button.button-big.button-fill.button-raised.color-orange
						| Ubicaciones disponibles
				p
					a(href="vehicle.html", data-view=".view-main").button.button-big.button-fill.button-raised.color-cyan
						| Administración de vehículos
				p
					a(href="history.html", data-view=".view-main").button.button-big.button-fill.button-raised.color-blue
						| Historial de estacionamiento
				p
					a(href="penalty.html", data-view=".view-main").button.button-big.button-fill.button-raised.color-blue
						| Historial de multas
