doctype html
html
	head
		meta(charset="utf-8")
		meta(name="format-detection", content="telephone=no")
		meta(name="msapplication-tap-highlight", content="no") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
		meta(name='mobile-web-app-capable', content='yes')

		link(rel="stylesheet", type="text/css", href="css/framework7.material.min.css")
		link(rel="stylesheet", type="text/css", href="css/framework7.material.colors.min.css")
		link(rel="stylesheet", type="text/css", href="css/ionicons.min.css")
		link(rel="stylesheet", type="text/css", href="css/digital-parking.css")
		title Digital Parking

	body.theme-blue

		//Status bar overlay for full screen mode
		.statusbar-overlay

		//Panels overlay
		.panel-overlay

		// Left panel with reveal effect
		.panel.panel-left.panel-reveal
			.content-block
				p Left panel content goes here

		.views
			//Your main view, should have "view-main" class
			.view.view-main.navbar-through

				// Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
				.pages.navbar-fixed

					// Index Page
					.page.navbar-fixed(data-page="index")

						// Top Navbar. In Material theme it should be inside of the page
						.navbar
							.navbar-inner
								.left
									a.link.icon-only.open-panel(href="#")
										i.icon.icon-bars
								
								.center Digital parking

								.right
									a.link.icon-only(href="#", data-status='connected')
										i.ion-android-cloud-done


						// Page content
						.page-content
							.list-block
								ul
									li
										a(href="login.html", data-view=".view-main").item-link.close-panel
											.item-content
												.item-inner
													.item-title Iniciar sesión
									li
										a(href="signup.html", data-view=".view-main").item-link.close-panel
											.item-content
												.item-inner
													.item-title Registrarse

									li
										a(href="parking.html", data-view=".view-main").item-link.close-panel
											.item-content
												.item-inner
													.item-title Estacionar


							.content-block
								#map-canvas
							.content-block
								#log.text-center.color-gray Conectando con el dispositivo...

			// Right view, it is main view
			.view.view-login.navbar-through

		//Templates
		script#status-sent-template(type='text/x-handlebars-template')
			.status-icon.bg-lime
				i.ion-android-done

		script#status-read-template(type='text/x-handlebars-template')
			.status-icon.bg-green
				i.ion-android-done-all

		script(type="text/javascript", src="cordova.js")
		script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAD7MAY-GprP7O6b4pgyciVWwUJc5F7xAo")
		script(type="text/javascript", src="js/libs/framework7.min.js")
		script(type="text/javascript", src="js/libs/require.min.js", data-main="js/index")
